#carousel {
    padding-top: 70px;
}

.owl {
    &-carousel {
        &.owl-loaded {
            .owl-item {
                opacity: 1;
                img {
                    display: none;
                }
            }
        }
    }

    &-item {
        transition: all .3s;
        padding-top: 70px;
        opacity: 0;
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        img {
            visibility: hidden;
        }

        &:before {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($eeri-black, 0.6);
            content: '';
            display: block;
        }

        .container {
            .title {
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
            }

            .content {
                color: rgba($white, 0.9);
            }

            .control {

            }
        }
    }
}
