.owl {
    &-carousel {
        @include mobile {
            position: absolute;
            height: 100%;
            padding-top: 70px;
        }

        &.owl-loaded {
            .owl-item {
                opacity: 1;
                img {
                    display: none;
                }
            }
        }
    }

    @include mobile {
        &-stage {
            height: 100%;
            &-outer {
                height: 100%;
            }
            .owl-item {
                height: 100%;
            }
        }
    }

    &-dot {
        &s {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            z-index: 2;
            text-align: center;
            font-size: 0;
            padding: 1rem 0;
        }

        border-radius: 50%;
        width: 14px;
        height: 14px;
        margin: 0 0.5rem;
        background-color: rgba($white, 0.6) !important;
        &.active {
            background-color: rgba($white, 1) !important;
        }
    }

    &-item {
        transition: all .3s;
        padding-top: 70px;
        opacity: 0;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        img {
            visibility: hidden;
        }

        @include mobile {
            padding-top: 0;
        }

        &:before {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            // background-color: rgba($eeri-black, 0.6);
            background: linear-gradient(to right, rgba($eeri-black, 0.6), rgba($eeri-black, 0.2) 50%, rgba($eeri-black, 0) 100%);
            content: '';
            display: block;
        }

        .container {
            .title {
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
            }

            .content {
                color: rgba($white, 0.9);
            }

            .control {

            }
        }
    }
}

#carousel-wrapper {
    position: relative;
    @include mobile {
        height: 100vh;
    }

    @import '../forms/landing-form';
}
