.footer {
    padding-top: 5rem;
    background-color: $eeri-black;
    color: rgba($white, 0.4);
    transition: all ease-in 0.1s;
    opacity: 1;
    visibility: visible;
    @include until(480px) {
        padding: 20px 14px 40px;
    }
    &.is-loading {
        opacity: 0;
        visibility: hidden;
    }
    a {
        color: rgba($white, 0.4);
        transition: color ease-in-out 0.3s;
        &:hover,
        &:focus {
            color: $gold;
        }
    }

    &__misc {
        margin-bottom: 3.5rem;
        &.container {
            p, li {
                font-size: 14px;
            }
        }
        &__menu {
            ul {
                li {
                    padding-left: 2.5em;
                    margin-bottom: 1em;
                    .icon {
                        left: 0;
                        top: -2px;
                        font-size: 18px;
                        position: absolute;
                    }
                }
            }
        }

        &__news {
            &__thumb {
                img {
                    display: block;
                }
            }
        }
    }

    &__closure {
        font-size: 14px;
        &.container {
            padding-top: 2rem;
            border-top: 1px solid rgba($white, 0.1);
            .column {
                &.copyright-social-links {
                    .copyright {
                        @include mobile {
                            display: block;
                            margin-top: 1rem;
                        }
                    }

                    .social-link {
                        font-size: 16px;
                        margin-right: 0.5rem;
                        @include mobile {
                            font-size: 32px;
                            .icon {
                                width: 3rem;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    @include mobile {
                        text-align: center !important;
                    }
                }

                &.recaptcha {
                    a {
                        color: $gold;
                        &:hover,
                        &:focus {
                            color: $white;
                        }
                    }
                    @include mobile {
                        padding-top: 0;
                        text-align: center !important;
                    }
                }
            }
        }
    }
}
