#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba($white, 1);
    box-shadow: 0 0 5px rgba($eeri-black, 0.2);
    transition: all ease-out 0.3s;

    .is {
        &-transparent {
            background-color: transparent;
        }
    }

    .navbar {
        box-shadow: none;
        @import 'nav';
    }

    &.is-transparent {
        background-color: rgba($white, 0);
        box-shadow: 0 0 5px rgba($eeri-black, 0);
        .navbar {
            &-item {
                a {
                    &:not(.button) {
                        color: $white;
                    }

                    &.button {
                        color: $white;
                        background-color: rgba($white, 0);
                        border: 1px solid $white;
                    }
                }
            }
        }
    }
}
