&-item,
&-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

&-item {
    a {
        transition: all ease-out 0.3s;
        &:not(.button) {
            color: $eeri-black;
            &:hover {
                color: $max-yellow-red;
            }
        }
    }

    img {
        max-height: none;
    }
}

&-burger {
    height: auto;
    span {
        background-color: $eeri-black;
    }
}
