.landing-form {
    z-index: 2;
    position: absolute;
    top: 50%;
    width: calc(40% + 32px);
    max-width: 768px;
    transform: translateY(-50%);
    padding: 0 2rem;
    right: 0;
    @include mobile {
        width: 100%;
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        padding: 2rem 1rem;
    }
    .title {
        font-weight: bold;
        text-shadow: 0 2px 5px rgba($black, 0.2);
        img {
            display: block;
            max-width: 320px;
            transform: translateX(-20px);
        }
    }
    .fields {
        label {
            color: $white;
            text-shadow: 0 2px 5px rgba($black, 0.2);
        }
        margin-bottom: 2rem;
    }

    .content {
        p {
            a {
                color: $gold;
            }
        }
    }
}

.pop-form {
    z-index: 2;
    position: absolute;
    width: calc(50% + 32px);
    max-width: 475px;
    padding: 0 2rem 5rem;
    left: 0;
    bottom: 0;
    color: $white;
    .title {
        color: $white;
        font-weight: bold;
    }
}
