.jarallax {
    position: relative;
    z-index: 0;
    height: 40vh;
    min-height: 240px;
    &-section {
        .container {
            padding: 48px 24px;
        }
    }

    &:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: rgba($eeri-black, 0.6);
    }

    .title {
        padding: 0 24px;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        white-space: nowrap;
    }
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
